################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScaffoldingEngine/.vs/ScaffoldingEngine
/ScaffoldingEngine/ScaffoldingEngine.Core/bin/Debug/net8.0
/ScaffoldingEngine/ScaffoldingEngine.Core/obj
