################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScaffoldingEngine/.vs
/ScaffoldingEngine/ScaffoldingEngine.Core/bin
/ScaffoldingEngine/ScaffoldingEngine.Core/obj
/ScaffoldingEngine/ScaffoldingEngine.CLI/bin
/ScaffoldingEngine/ScaffoldingEngine.CLI/obj
